
<div class="container">
  <div class="row">
    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-4 col-md-4 " >
        <%= link_to panel_path(panel), class: "card-link" do %>
          <div class="card-wrap">
              <div class="img-wrap">
                    <div id="carousel-example-generic-<%= panel.id%>" class="carousel slide img-card data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                            <%= image_tag "https://source.unsplash.com/random/700x500" %>
                          </div>
                          <div class="item">
                            <%= image_tag "https://source.unsplash.com/random/700x500", class: "img-wrap" %>
                          </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic-<%= panel.id%>" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic-<%= panel.id%>" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>

              </div>
              <% end %>
              <%= link_to panel_path(panel), class: "card-link" do %>
              <div class="card-footer-wrap">

                <div class="card-info">
                  <h6><strong><%= panel.panel_type.name %></strong></h6>
                  <p><strong>Estação:</strong> <%= panel.station.name %></br>

                      <% panel.station.lines.each do |line| %>
                <%= line.name %> /
              <% end %></br>
            <%= panel.panel_type.total_area %></br>
            </p>

                </div>

                <div class="card-btn-wrap">
                  <p class="price"><small>R$ </small><strong><%= panel.price %></strong></p>
                  <button type="button" class="btn btn-primary">Ver detalhes</button>
                </div>
              </div>
              <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>








