<div class="container">
  <div class="row">
    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-4 col-md-4 cards-margin " >
        <%= link_to panel_path(panel), class: "card-link" do %>
          <div class="card-wrap">
              <div class="img-wrap" style="background-image: url(<%= panel.panel_type.picture %>)">
                <div class="price-wrap">
                  <p class="price">
                    <% if panel.price == 0 %>
                      <%= humanized_money_with_symbol(panel.panel_type.price) %>
                    <% else %>
                      <%= humanized_money_with_symbol(panel.price) %>
                    <% end %>
                  <small>/ mês</small></p>

                </div>


              </div>
          <% end %>
              <%= link_to panel_path(panel), class: "card-link" do %>
              <div class="card-footer-wrap">

                <div class="card-info">
                  <h6><strong><%= panel.panel_type.name %></strong></h6>
                  <p><strong>Estação:</strong> <%= panel.station.name %></br>

                      <% panel.station.lines.each do |line| %>
                <%= line.name %> /
              <% end %></br>
            <%= panel.panel_type.total_area %></br>
            </p>

                </div>

                <div class="card-btn-wrap">

                  <button type="button" class="btn btn-primary btn-detalhes">Ver detalhes</button>
                </div>
              </div>
              <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>








