<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <%= paginate @panels %>
    </div>

    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-4 col-md-4 cards-margin " >
        <%= link_to panel_path(panel), class: "card-link" do %>
          <div class="card-wrap">
              <div class="img-wrap" style="background-image: url(<%= panel.panel_type.picture %>)">
                <div class="metro-icon">
                  <%= cl_image_tag("Logo/icon_metro_card.png", height: 60) %>

                </div>


              </div>
          <% end %>
              <%= link_to panel_path(panel), class: "card-link" do %>

              <div class="card-footer-wrap">

                <div class="card-info">

                  <div class="row">

                    <div class="col-md-12">
                  <div class="col-md-6">
                    <h6><strong><%= panel.panel_type.name %></strong></h6>
                    <small>A partir de</small>
                    <strong><% if panel.price == 0 %>
                      <%= humanized_money_with_symbol(panel.panel_type.price) %>
                    <% else %>
                      <%= humanized_money_with_symbol(panel.price) %>
                    <% end %></strong><small>/ painel</small>
                  </div>

                   <div class="col-md-6">
                    <button type="button" class="btn btn-detalhes">Saiba mais</button>
                  </div>

                  </div>


                </div>
                <div class="row">
                 <div class="col-md-11 card-info-border centered">

                  </div>
                  </div>

                  <div class="row">
                 <div class="col-md-11 centered info-card">
                  <p><i class="fa fa-train" aria-hidden="true"></i> <%= panel.station.name %></br><i class="fa fa-road" aria-hidden="true"></i>
                      <% panel.station.lines.each do |line| %>
                <%= line.name %> /
              <% end %></br>

            <i class="fa fa-file-image-o" aria-hidden="true"></i> <%= panel.panel_type.total_area %></br>
            </p>

                  </div>
                  </div>

                </div>


              </div>
              <% end %>
          </div>
      </div>
    <% end %>
    <div class="col-md-12" align="center">
      <%= paginate @panels %>
    </div>
  </div>
</div>








