<div class="container">
  <h1><%= @panel.panel_type.name %></h1>
  <p><%= @panel.station.name %></p>
  <% @panel.station.lines.each do |line| %>
    <p><%= line.name %></p>
  <% end %>
  <p><%= @panel.panel_type.total_area %></p>
  <p><%= @panel.panel_type.visible_area %></p>
  <p><%= @panel.panel_type.security_area %></p>
  <p><%= humanized_money_with_symbol(@panel.price) %></p>
  <%= link_to "back", panels_path %>
</div>
