<div class="container">
  <div class="row">

    <div class="row">
      <div class="col-md-12">
        <%= link_to @back, class: "back-button" do%>
          <p><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar</p>
        <% end %>
      </div>
    </div>

    <div class="row">

      <div class="information-wrap">
        <div class="col-md-7">
          <% @panel.station.lines.each do |line| %>
            <p><%= cl_image_tag("Logo/logo-metrô.png", height: 20) %>
            <%= line.name %></p>
          <% end %>
          <p><strong>Estação: </strong><%= @panel.station.name %></p>
        </div>

        <div class="col-md-5">
          <h3><%= @panel.panel_type.name %></h3>
          <h4><%= humanized_money_with_symbol(@price) %> / mês</h4>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-7">
        <div class="panel-picture-wrap">
          <% if @panel.picture %>
            <%= cl_image_tag(@panel.picture, height:'100%', width: '100%') %>
          <% else %>
           <%= cl_image_tag(@panel.panel_type.picture, height:'100%', width: '100%') %>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <% if user_signed_in? %>
          <div class="panel-buy-wrap">
            <ul class="hidden">
              <% @dates.each do |date| %>
                <li class="dates" data-datefrom="<%= date[:from] %>" data-dateto="<%= date[:to] %>">
                </li>
              <% end %>
            </ul>
            <% if @companies.present? %>
              <% if @campaigns.empty? %>
                <div class="text-center">
                  <h5>Você não possui nenhuma campanha ativa</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".campaign-modal">Montar nova campanha</button>
                </div>
              <% else %>
                <%= render 'panels/choose_campaign_parameters' %>
              <% end %>
            <% else %>
              <div class="text-center">
                <h4>
                  Registre uma empresa antes de adicionar painéis ao seu carrinho:
                </h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".company-modal">Registrar uma empresa</button>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-7 printing-data">
        <%= render 'panels/print_info' %>
      </div>
    </div>

  </div>
</div>

<% if user_signed_in? %>
  <div class="modal fade company-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content background">
        <%= render template: "companies/new" %>
      </div>
    </div>
  </div>
  <div class="modal fade campaign-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content background">
        <%= render template: 'campaigns/new' %>
      </div>
    </div>
  </div>
<% end %>
