<h2><%= "Empresa".pluralize(@companies_qty) + " " + "registrada".pluralize(@companies_qty) %>:</h2>
<%= link_to "Registrar outra empresa", new_users_company_path %>

<% @companies.each do |company| %>
  <%= link_to company.name, company_path(company) %>
  <p>CNPJ: <%= company.cnpj %></p>
  <p>Endereço: <%= company.address1 %> <%= company.address2 if company.address2  %> <%= company.street_number  %>, <%= company.zip_code  %> <%= company.city %>, <%= company.state %></p>
  <p><%= link_to "Editar empresa", edit_company_path(company) %></p>
  <p><%= link_to "Deletar empresa", company_path(company), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <p>------------------------------------------------------------------------------</p>
<% end %>
