<% if current_page?(root_path) %>
  <div class="navbar-wagon navbar-fixed-top">
    <% else %>
  <div class="navbar-wagon-grey">
<% end %>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <% unless current_page?(root_path) %>
  <div class="hidden-xs">
    <%= render 'shared/search-form' %>
    </div>

  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <div class="navbar-wagon-item">
        <div class="navbar-wagon-button">
          <div class="my-account">
            <%= link_to "Minha conta", users_path %>
          </div>
        </div>
        <div class="navbar-wagon-button">
          <div class="log-out navbar-wagon-link">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Sair") %>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <div class="navbar-wagon-button">
        <div class="link-entrar-wrap">
          <%= link_to t(".sign_in", default: "Minha conta"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

        <%= link_to t(".sign_in", default: "Cadastrar-se"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

      </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

