<div id="banner">
  <div class="banner-wrap centered">
    <div class="row" align="center">
      <div class="col-sm-12">
        <h4>ANUNCIE PARA MAIS DE 4 MILHÕES DE PESSOAS</h4>
      </div>
    </div>
    <div class="row">
      <% if current_page?(root_path) %>
        <%= render 'shared/search-form' %>
      <% end %>
    </div>
  </div>
</div>
<%= render "pages/about_col" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 estacoes-populares-title-wrap">
    <h4 align="center">Estações mais populares</h4>
    <div class="col-md-12 lista-estacoes-home-wrap">
      <div class="row">
        <div class="col-md-4">
         <div class="estacao-wrap-1">
          <div class="layer">

          <p class="metro-icon-white-wrap"><%= image_tag "metro_icon_white.png", height: 25 %> Liberdade</p>

          </div>


         </div>
        </div>
        <div class="col-md-4">
          <div class="estacao-wrap-2">
            <div class="layer">
              <p class="metro-icon-white-wrap"><%= image_tag "metro_icon_white.png", height: 25 %> Paraíso</p>

          </div>

         </div>
        </div>
        <div class="col-md-4">
          <div class="estacao-wrap-3">
            <div class="layer">
              <p class="metro-icon-white-wrap"><%= image_tag "metro_icon_white.png", height: 25 %> Vila Mariana</p>

          </div>

         </div>
        </div>
      </div>

    </div>
    </div>
    </div>
</div>


