<div class="margin-top-new-company">
  <div class="signin-content col-md-6 col-sm-12 col-xs-12 centered">
    <div class="row">

      <div class="col-md-9 signin-head-title centered" align="center">
        <p>Registra uma empresa na sua conta JCD'easy</p>
      </div>

      <div class="col-md-12 company-form">
        <%= simple_form_for @company do |form| %>
          <div class="form-inputs">
            <%= form.input :name, autofocus: true, placeholder: 'Razão Social', label: false %>
            <%= form.input :cnpj, placeholder: 'CNPJ', label: false %>
            <%= form.input :zip_code, placeholder: 'CEP', label: "Digite seu CEP para autocompletar seu endereço", class: 'company-zipcode' %>
            <%= form.input :address1, placeholder: 'Endereço', label: false %>
            <%= form.input :street_number, placeholder: 'Número', label: false %>
            <%= form.input :address2, placeholder: 'Bairro', label: false %>
            <%= form.input :city, placeholder: 'Cidade', label: false %>
            <%= form.input :state, placeholder: 'Estado', label: false %>
          </div>
          <div class="form-actions signin-btn">
            <%= form.submit "Registrar", class: 'btn btn-primary btn-signin' %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
