<div class="row margin-top-new-campaign">
  <div class="signin-content col-md-6 col-sm-12 col-xs-12 centered">
    <div class="row">

      <div class="col-md-9 signin-head-title centered" align="center">
        <p>Começe a montar sua campanha na JCD'easy</p>
      </div>

      <div class="col-md-12 campaign-form">
        <%= simple_form_for [@campaign] do |f| %>
          <div class="form-inputs">
            <%= f.input :title, autofocus: true, placeholder: '"Campanha promoção dia dos namorados"', label: "Dê um título à sua nova campanha" %>
          </div>
            <% if @companies.present? %>
              <%= f.select :company, @companies.map { |company| [company.name, company.id]}, { required: true, prompt: "Selecione a empresa a ser faturada após o pagamento" }, { class: "field-select-company" } %>
            <% else %>
              <p>Você ainda não cadastrou nenhuma empresa no seu perfil</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".company-modal">Criar empresa</button>
            <% end %>
          <div class="form-actions signin-btn">
            <%= f.submit "Começar a montar minha campanha", class: 'btn btn-primary btn-signin'  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade company-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content background">
      <%= render template: "companies/new" %>
    </div>
  </div>
</div>

