<!DOCTYPE html>
<html>
  <head>
    <title>JCDeasy - Anunciar no Metrô de SP - Compre sua campanha online</title>
    <meta name="description" content="A JCDeasy é o seu canal oficial online para você comprar midia no metrô de SP. Comece agora a montar sua campanha.">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="JCDeasy - Compre online sua campanha no Metrô de SP">
    <meta property="og:image" content="https://res.cloudinary.com/charlotteboucher/image/upload/c_scale,w_1130/v1524090484/JCD_Mupi_-_small.jpg">
    <meta property="og:description" content="A JCDeasy é o seu canal oficial online para você comprar midia no metrô de SP. Comece agora a montar sua campanha.">
    <meta property="og:site_name" content="jcdeasy"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.jcdeasy.com" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jcdeasy">
    <meta name="twitter:title" content="JCDeasy - Compre online sua campanha no Metrô de SP">
    <meta name="twitter:description" content="A JCDeasy é o seu canal oficial online para você comprar midia no metrô de SP. Comece agora a montar sua campanha.">
    <meta name="twitter:creator" content="@jcdeasy">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/charlotteboucher/image/upload/c_scale,w_4096/v1524090484/JCD_Mupi_-_small.jpg">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <%= render 'sweetify/alert' %>
  </body>
</html>
